<div class="row">
    <div class="col-md-12 ">
        <div class="panel-default animated container"  style="background-color:white">
            <br/>

            <h3>Configure Application</h3>

            <div class="row">
                <br/>
                <form name="releaseDetails">
                    <md-content md-theme="docs-dark" layout-gt-lg="row" layout-padding>
                        <div >
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Application Name *</label> <input ng-model="data.appName" name="appName" required/>


                                <span style="color:red" ng-show="appDetails.appName.$error.required">Invalid Input</span>
                            </md-input-container>

                        </div>

                        <div >
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>Application Environment</label>
                                <md-select  ng-model="data.appEnv" name="appEnv" required>
                                    <md-option ng-value="app" ng-repeat="app in appEnv">{{ app }}</md-option>
                            </md-select>

                            </md-input-container>

                        </div>


                        <div >
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Repo Url</label> <input ng-model="data.repoUrl" name="repoUrl" required/>


                                <span style="color:red" ng-show="appDetails.repoUrl.$error.required">Invalid Input</span>
                            </md-input-container>

                        </div>

                        <div >
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Repo Branch</label> <input type="text" ng-model="data.branch" name="branch" required/>


                                <span style="color:red" ng-show="appDetails.branch.$error.required">Invalid Input</span>
                            </md-input-container>

                        </div>





                        <div class="col-md-3">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <md-button class="md-raised md-primary" ng-click="submit(data)">Save</md-button>
                        </div>
                    </md-content>
                </form>
            </div>





        </div>
    </div>

</div>







