<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <!-- <base href="/xpedashboard/" /> -->
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.min.css" />
    <link rel="stylesheet" href="./bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" />


    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="app/libs/hover.css" />
    <link rel="stylesheet" href="app/libs/animate.css" />
    <link rel="stylesheet" href="app/styles/main.css" />
    <link rel="stylesheet" href="app/styles/loading-bar.css" />
    <!--<link rel="stylesheet" type="text/css" href="fixed_table_rc.css" />-->
    <!-- endbuild -->
    <style>
        @media (min-width: 768px){
            .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
                margin-top: -9px;
                margin-left: 40px;
            }
        }

        .btn-info {
            background-color: #0087c4;
        }
        .float-right{
            float: right;
        }
        .padding-right{
            padding-right: 50px;
        }
         .bg-add{
            background-color: #fff;
        }
    </style>
</head>
<body class="app" ng-app="PacketoApp">
<div class="alertBox hide"></div>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->

<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#2c3e50">
        <div class="container-fluid" ng-model="env">
            <div class="navbar-header">
                <a class="navbar-brand hvr-grow" href="" ng-href=" ">
                    <img src="app/images/" alt="HashWorks" title="HashWorks" border="0" height="105" width="105">
                </a>
            </div>

            <ul class="nav navbar-nav">
                <li><a href="/#/"><i class="zmdi zmdi-home" style="color: white;font-size: 20px"></i></a></li>
            </ul>
            <h4 class="nav navbar-nav" style="width: 300px;padding-left: 12px;padding-top: 17px; color: white; font-family:Trebuchet MS;">Paketo</h4>

        </div>
    </nav>

    <div class="main-container" id="exportthis" class="bg-add">


        <div class="content-container" ng-view="" style="margin-top: 70px">
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="./bower_components/es5-shim/es5-shim.js"></script>
<script src="./bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<script src="./bower_components/angular/angular.min.js"></script>
<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./bower_components/angular-animate/angular-animate.min.js"></script>
<script src="./bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="./bower_components/angular-resource/angular-resource.min.js"></script>
<script src="./bower_components/angular-route/angular-route.min.js"></script>
<script src="./bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="./bower_components/angular-touch/angular-touch.min.js"></script>
<script src="./bower_components/angular-aria/angular-aria.min.js"></script>
<script src="./bower_components/angular-messages/angular-messages.min.js"></script>
<script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="./bower_components/lodash/dist/lodash.min.js"></script>
<script src="./bower_components/angular-material/angular-material.min.js"></script>
<script src='./bower_components/angular-loading-bar/build/loading-bar.min.js'></script>
<script src='./bower_components/angularUtils-pagination/dirPagination.js'></script>
<script src="./bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<script src="./bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="app/libs/ng-table.js"></script>
<script src="app/libs/angularjs-dropdown-multiselect.js"></script>
<script src="app/scripts/app.js"></script>
<script src="app/scripts/ngStorage.min.js"></script>
<script src="app/scripts/ui-bootstrap-tpls-2.4.0.js"></script>
<!--SERVICES-->
<script src="app/scripts/services/AppService.js"></script>

<!--CONTROLLERS-->
<script src="app/scripts/controllers/AddAppCtrl.js"></script>



</body>
</html>